@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@400;500;700&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

header{
    width: 100%;
    height: 70px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    box-shadow: 6px 2px 20px #161515;
    background-color: #fff;
}

header .logo{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header .logo img{
    width: 65px;
    height: 65px;
    object-fit: cover;
}

header .nav__bar{
    width: 30%;
    height: 100%;
}

header .nav__bar .nav__list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .nav__bar .nav__list .nav__item{
    display: inline-block;
    list-style: none;
}

header .nav__bar .nav__list .nav__item .nav__link{
    font-size: 18px;
    color: #161515;
}

section{
    position: relative;
    top: 4rem;
}

.hero{
    width: 100%;
    height: 80vh;
    background: url("../imgs/productImgs/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1, .hero h3, .hero p{
    width: 80%;
    text-align: start;
}

.hero h1{
    font-size: 40px;
    font-family: "Roboto", sans-serif;
}

.hero h3{
    font-size: 25px;
}

.hero p{
    font-size: 18px;
}

.categories{
    position: relative;
    top: 6rem;
    width: 100%;
    height: 30vh;
}

.categories h1{
    text-align: right;
    margin-right: 50px;
}

.categories .categories__container{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.categories .categories__container .categorie{
    width: calc(100% / 4);
    height: 100%;
}

.categories .categories__container .categorie img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    transition: all .5s ease-in;
}

.categories .categories__container .categorie img:hover{
    transform: scale(calc(100% + 10%));
    cursor: pointer;
}

.categories .categories__container .categorie h1{
    text-align: start;
}